{% block footer %}
    <div class="container text-center mt-4 pb-3">
        <span>
            <strong>Copyright 2024 — cs2i>blog | </strong>
            <strong><a href="">Mentions légales</a></strong>
            <strong> | </strong>
            <strong><a href="">Contact</a></strong>
        </span>
    </div>
{% endblock %}