{% extends 'layouts/master-layout.html.twig' %}

{% block body %}
<div class="container">
        <div class="row pt-3">
            <div class="col-4">
            <img src="images/logo_cs2i.png" width="400" height="200"/>
                <hr>
                <h2><strong>Bienvenue sur le blog CS2i</strong></h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis sint atque perspiciatis animi
                    laborum, deserunt modi distinctio quisquam eaque eos eligendi delectus sapiente, deleniti tempora
                    ipsum
                    consectetur. Quia aspernatur omnis fugiat, a nostrum eligendi eum quas consectetur architecto, rem
                    nemo
                    magnam aliquid expedita quod nesciunt odit. Porro veritatis corrupti odit?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore molestiae error nobis laborum
                    distinctio expedita voluptas incidunt recusandae, ea vel illum earum autem repellat quasi illo qui
                    aperiam? Porro at nemo praesentium pariatur natus illum eius libero voluptatum nulla nam?</p>
            </div>
            <div class="col-8">
                <div class="container-fluid p-5">
                    <h2><span class="fs-1 fw-light" style="font-family: courier;">Le Blog CS2i</span></h2>
                </div>
                <hr>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore molestiae error nobis laborum
                    distinctio expedita voluptas incidunt recusandae, ea vel illum earum autem repellat quasi illo qui
                    aperiam? Porro at nemo praesentium pariatur natus illum eius libero voluptatum nulla nam?</p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore molestiae error nobis laborum
                    distinctio expedita voluptas incidunt recusandae, ea vel illum earum autem repellat quasi illo qui
                    aperiam? Porro at nemo praesentium pariatur natus illum eius libero voluptatum nulla nam?
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore molestiae error nobis laborum
                    distinctio expedita voluptas incidunt recusandae, ea vel illum earum autem repellat quasi illo qui
                    aperiam? Porro at nemo praesentium pariatur natus illum eius libero voluptatum nulla nam?</p>
                    <img class="float-right mb-2" src="images/logo_cs2i.png" width="400" height="200"/>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore molestiae error nobis laborum
                    distinctio expedita voluptas incidunt recusandae, ea vel illum earum autem repellat quasi illo qui
                    aperiam? Porro at nemo praesentium pariatur natus illum eius libero voluptatum nulla nam?</p>
            </div>
</div>
{% endblock %}